@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* font-family: 'Raleway', sans-serif; */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.section-title {
  position: relative;
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 94px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  position: absolute;
  top: 94px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 170px;
  height: 1px;
  background: #ec7979;
}

.section-text {
  color: #86878b;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header start */
.header {
  background: #000;
  padding: 22px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  max-width: 86px;
}

.header-logo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 42px 62px;
}

.nav-list__item-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  transition: color 0.5s ease;
}

.nav-list__item-link:hover {
  color: #ab4949;
}

/* header finish */

/* baner start */

.baner {
  position: relative;
  background: url("/assets/images/baner/baner-bg.jpg") center no-repeat;
  background-size: cover;
  padding-top: 207px;
  padding-bottom: 185px;
}

.baner::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-inner {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
}

.baner-logo {
  max-width: 170px;
  margin-bottom: 72px;
}

.baner-logo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.baner-title {
  position: relative;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 670px;
  margin-bottom: 97px;
}

.baner-title::after {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 170px;
  height: 1px;
  background: #fff;
}

.baner-text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  max-width: 270px;
  margin-bottom: 42px;
}

.baner-download {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  width: 270px;
  padding: 16px 0;
  border: 2px solid #fff;
  transition: all 0.4s ease;
}

.baner-download:hover {
  background: #ab4949;
  border: 2px solid #ab4949;
}

.baner-form-block {
  flex: 0 1 470px;
}

.baner-form {
  text-align: center;
}

.baner-form__inner-top {
  padding: 30px 50px 0;
  background: #fff;
  border-radius: 10px 10px 0 0;
}

.baner-form__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 74px;
}

.baner-form__title span {
  color: #ec7979;
}

.baner-form__inner-input {
  max-width: 370px;
  margin-bottom: 36px;
}

.baner-form__inner-input:last-child {
  margin-bottom: 0;
  padding-bottom: 78px;
}

.baner-form__input {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  padding: 0 6px 16px;
}

.baner-form__input::placeholder {
  color: #bdbdbd;
}

.baner-form__btn {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background: #ec7979;
  border: none;
  outline: none;
  padding: 22px 0;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}

/* baner finish */

/* socials start */
.socials {
  background: #f8efef;
  padding: 18px 0;
}
.socials-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px 10px;
}

.socials-content {
  max-width: 470px;
}

.socials-content__title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 18px;
}

.socials-content__text {
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.socails-list {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.socails-list__item {
  transition: transform 0.5s ease;
}

.socails-list__item:hover {
  transform: translateY(-6px);
}

/* socials finish */

/* awesome start */
.awesome {
  padding-top: 50px;
  padding-bottom: 80px;
}

.awesome-cards__list {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}

.awesome-cards__item {
  flex: 0 1 calc(100% / 3 - 30px);
  text-align: center;
}

.awesome-cards__item-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #ec7979;
  margin: 0 auto 72px;
}

.awesome-cards__item-subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 42px;
}

.awesome-cards__item-text {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
/* awesome finish */

/* price start */
.price {
  background: #f5f5f5;
  padding-top: 105px;
  padding-bottom: 50px;
}

.price-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.price-list__item {
  text-align: center;
  flex: 0 1 calc(100% / 3 - 20px);
}

.price-list__item-title {
  background: #333333;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 12px 0;
}

.price-list__item-sum {
  background: #333333;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 700;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 28px 0;
}

.price-list__item-subtitle {
  background: #333333;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 14px 0;
}

.price-list__space-item {
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  padding: 14px 0;
}

.price-list__space-item:first-child {
  border-top: none;
}
.price-list__space-item:last-child {
  border-bottom: none;
}

/* price finish */
